*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
._*
ehthumbs.db
Thumbs.db

.DS_STORE
.vscode
.idea
.serverless
*_pycache_**
node_modules
.env
.env.*
.ruff_cache
pyrightconfig.json

